@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #f9f9f9;
  --bg-dark: #111827;
  --text-light: #000;
  --text-dark: #fff;
}

[data-mode="light"] {
  background-color: var(--bg-light);
  color: var(--text-light);
}

[data-mode="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
